
.contactus-page-background {
    --ion-background-color: white;
}

.cards {
    --background: var(--color-secondary);
    --color: var(--color-black-1);
    width: 90%;
    height: 75px;
    border-radius: 15px;
    
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: 20px;
    padding: 20px;
    margin-bottom: 20px;

    border: var(--color-primary);
    border-width: 1px;
    border-style: solid;
}

.card-icon {
    font-size: 32px;
    color: var(--color-primary-design);
}

/*
TODO: revisar variables de titulo porque no se aplican
*/
.card-title{
    font-size: var(--heading-h1-font-size);
    font-weight: var(--heading-h2-font-weight);
    color: var(--color-black-1);
}